.section {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.slide{
		background-size: cover;
	}


/*change the color of the highlight*/
::-moz-selection { /* Code for Firefox */
    color:white;
    background:#95C1DA;
}

::selection {
    color:white;
    background:#95C1DA;
}

body {
    margin:0;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Cookie', cursive;
    color: #333;
    font-size: 75px;
}

#header {
  background:white;
  background-image:url(../site-images/blank-business-composition-373076.jpg);
  height:calc(100% - 80.14px);
  margin-top: 80.14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline:4px double #333;
  outline-offset: -25px;

  z-index: 100;
}

#title a {
	color:#333;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

#title a:hover{
	color:#727272;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

#title img{
	border-radius: 50%;
	padding: 10px;
	border: 2px solid #333;
	height: 150px;
	opacity: 0.9;
}

#title {
  position: absolute;
  font-family: 'Cookie', cursive;
  left: 0px;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 75px;

	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}


a:link {
  color:#95C1DA;
  text-decoration:none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

a:visited {
  color:#95C1DA;
  text-decoration:none;
  	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}


#navbar {
  font-size: 14px;
  overflow: hidden;
  background-color:  #333;
  text-align:center;
  position:fixed;
  top:0px;
  z-index:1000;
  width:100%;
}

/* navigation hover effect and style */
nav a:link{
    text-transform:uppercase;
    display:inline-block;
    color:#95C1DA;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
    padding:15px 50px 0px 50px;
    letter-spacing:2px;
	border:2px solid transparent;
}

nav {
    letter-spacing:1px;
    background-color:white;
}

nav a:visited {
    color:#95C1DA;
}

nav a:hover {
    border-left: 2px solid #4D4D4D;
    border-right: 2px solid #4D4D4D;
    background:#333;
	color: white;
	padding:15px 60px 0px 60px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

#navbar a.active {
  background-color: #4CAF50;
  color: #8FCADF;
}

#wrap {
    width: 100%;
    min-height:100%;
}


.content {
  width: 100%;
  color:white;
  padding:0px 100px 50px 100px;
}

.flex-grid h1 {
	font-size: 70px;
    line-height: 70px;
    color: #333;
	padding-bottom:10px;
}

.flex-grid h2 {
	font-weight:bold;
	font-size:16px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  flex: 1;
}

.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  margin:10px;
  color:white;
  font-size: 18px;
  line-height:20px;
  box-sizing:border-box;
  max-height: calc(100% - 200px);
}

.logo-title {
  margin-top: auto;
  position: relative;
  margin: auto;

}

.logo-title img {
  height: 150px;
}

#side{
    display: inline-flex;
}
#slide2 h1 {
    color: #89D458;
}

#slide3 h1 {
    color:white;
}

#slide4 h1 {
  background-color: black;
  padding: 25px 20px 20px 20px;
  opacity: 0.8;
  color: #3B84D1;
    border-radius: 5px;
}
.about{
    color: black;
    background-color: white;
    margin-bottom: 10px;
    opacity: 0.8;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
}

.about a:link, .about a:visited {
  color:#7c9eff;
}

.links {
    width: 100%;
    text-align:center;
    background-color: #333;
    opacity: 0.8;

}
.links2 {
    width: 100%;
    text-align:center;
    opacity:0.8;
    background-color: #c5d2f9;
    color: #333;

}

.links3 {
  width: 100%;
  background-color: #3B84D1;
  text-align:center;
  color: white;
  opacity:0.8;

}

linksnav a:link, linksnav a:visited{
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-top: 15px;
    width: 40%;
    text-align: center;
}


/* from http://ianlunn.github.io hover.css */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#slide1{
  background-image:url(../site-images/vision.jpg);

}

/* #F7C9A5*/
  #slide2{
    background-image:url(../site-images/society.jpg);

  }
	#slide3{
    background: #F5A9BC; /* Old browsers */
    background: -moz-linear-gradient(  #FDE2E2 0%, #CED8F6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FDE2E2), color-stop(100%,#CED8F6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( #FDE2E2 0%,#CED8F6100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( #FDE2E2 0%,#CED8F6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient( #FDE2E2 0%,#CED8F6 100%); /* IE10+ */
    background: linear-gradient( #FDE2E2 0%,#CED8F6100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDE2E2', endColorstr='#CED8F6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          /*
  		background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg);
      */
	}

  #slide4{
    background-image:url(../site-images/sydneynew.jpg);
  }

  @media only screen and (max-width: 860px) {
    .content {
      padding:0px;
    }
    .flex-grid{
      display: block;
    }
    .col {
        width: 100%;
        padding: 0px 50px 0px 50px;
        font-size: 14px;
        line-height: 14px;
      }


    .flex-grid h1 {
    	font-size: 40px;
        line-height: 40px;
        color: #333;
    	padding-bottom:10px;
      margin: 0;

    }

    .logo-title img {
      height: 80px;
    }

    .fp-controlArrow {
      display:none;
    }

    #slide4 h1 {
      padding:20px;
      width: 100%;
      color: #3B84D1;
    }

}



@media only screen and (max-width: 520px) {
    #header {
        margin-top:66.57px;
        height:calc(100% - 66.57px );
    }

    #title {
      margin-top: 0px;

    }

	#navbar {
		min-height: 66.57px;
    font-size: 12px;
	}
  nav a:link{
      padding:10px 15px 0px 15px;
      letter-spacing:2px;
  }
  nav a:link:hover {
    padding: 10px 20px 0px 20px;
  }
}
