body, html{ 
  height: 100%;
  margin: 0;
  font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
 
}

#anchor1 {
  margin-top:-83.63px;
}

#wrap {
    width: 100%;
    box-sizing: border-box;
    background: black;
    height:auto;
    padding:50px 50px 50px 50px; 
    min-height:100%;
    margin-top:83.63px;
}

#header {
  background:#5F5F5F;
  background-image:url(../images/1.jpg);
  height:calc(100% - 83.63px);
  margin-top: 83.63px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline:3px solid white;
  outline-offset: -50px;
  
  z-index: 100;
}

#title a {
	color: white;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

#title a:hover{
	color:#B4B4B4;	
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

@media only screen and (max-width: 700px) {
    #header {
        margin-top:167.33px;
        height:calc(100% - 167.33px );
    }

    #title {
      margin-top: 53.70px;
    }

    #wrap {
      margin-top:167.33px;
    }
    #anchor1 {
      margin-top:-167.33px;
    }
	
	#navbar {
		min-height: 167.33px; 	
	}
}


#title {
  position: absolute;
  color: white; 
  left: 0px;
  top: 45%;
  width: 100%; 
  text-transform:uppercase;
  text-align: center;
  font-size: 35px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

.content {
  padding:0px;
  color:white;
}

a:link {
  color:white; 
  text-decoration:none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

a:visited {
  color:white; 
  text-decoration:none;
  	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}


#navbar {
  overflow: hidden;
  background-color: #FF9E9E;
  text-align:center;
  position:fixed;
  top:0px;
  z-index:1000;
  width:100%;
}

/* navigation hover effect and style */ 
nav a:link{
    text-transform:uppercase;
    display:inline-block;
    color:white;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
    padding:15px 50px 0px 50px;
    letter-spacing:2px;
	border:2px solid transparent;
}
 
nav { 
    letter-spacing:1px;
    background-color:#191919;
}    

nav a:visited {
    color: white;
}

nav a:hover { 
    border-left: 2px solid #4D4D4D;
    border-right: 2px solid #4D4D4D;
    background:#5F5F5F;
	padding:15px 60px 0px 60px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.flex-grid h1 {
	font-size: 20px; 
	border-bottom:1px solid white; 
	padding-bottom:10px; 
}

.flex-grid h2 {
	font-weight:bold;
	font-size:16px; 
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  flex: 1;
}

.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: salmon;
  padding: 20px;
  border:1px solid white;
  margin:10px;
  background:#191919;
  color:white;
  font-size: 14px; 
  line-height:16px; 
  box-sizing:border-box;
}

@media (max-width: 806px) {
  .flex-grid{
    display: block;
  }
    .col {
      width: 100%;
      margin: 0 0 15px 0;
    }
  }
}

